body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  color: white;
  background-color: black;
}

#output {
  height: 88vh;
  overflow: auto;
  padding: 0.5vh;
  display: flex;
  flex-direction: column;
}

.player-input,
.player-input:focus {
  font-family: sans-serif;
  margin: 1vw;
  width: 96vw;
  padding: 2vh 1vw;
  background-color: #222222;
  color: lightgreen;
  border: 0 solid #C0C0C044;
  font-size: 1.1em;
  font-weight: lighter;
}

.player-input::placeholder {
  color: #555555;
  background-color: transparent;
  font-style: italic;
}

p {
  margin: 9px;
  color: grey;
  background-color: inherit;
  font-weight: lighter;
}

label {
  margin-right: 10px;
  font-weight: normal;
}

strong {
  color: rgb(255, 200, 90);
  background-color: inherit;
}

em {
  color: grey;
  background-color: inherit;
}

span {
  white-space: pre-wrap;
  /* css-3 */
  display: block;
}

pre {
  white-space: pre-wrap;
  /* css-3 */
  color: lightgreen;
  display: block;
}

a {
  color: blue;
}
